<ion-view view-title="Geo music band">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Our mission
        </div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img ng-src="img/homeImage.png" alt="Uthappizza">
            <h2>Our mission</h2>
            <p>We playing in GEO band. We started our mission to invent a new era in balkan ska music. Our venues in the past included Flórián tér, Muzikum Klub, Kis Á, Gödör Klub, Magyar Színház and Balatonboglár. In 2016 we released our first EP named Szófiai Utcakő. Our lyrics express social critic, moderate political sarcasm, tolerance towards each other and world peace. Our appearances occur monthly concentrated mainly to the summer. Our motivation is to make a difference in the thinking about the dynamic of the hungarian music culture therefore we practice our music as a hobby in a non-profit way.</p>
        </div>
    </div>
  </ion-content>
</ion-view>